main{
}

#btn {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 8px;
    background-color: #fff;
    color: #7F32A6;
    position: fixed;
    margin-left: 1%;
    margin-top: 110px;
    font-size: 50px;
    border: none;
    cursor: pointer;
    transition: width 0.5s, height 0.5s;
    overflow: hidden; /* Evita que a barra branca apareça */
}

#btn #content {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-out, height 0.5s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
}

#btn.active #content {
    opacity: 1;
    margin-top: 40px;
    height: auto;
}

#btn.active {
    border-radius: 10px;
    height: 170px;
    width: 150px;
}

#btn #icon {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: transform 0.5s;
}

#btn.active #icon {
    transform: rotate(720deg);
}
#onOff {
    display: flex; /* Habilita o flexbox */
    flex-direction: column; /* Organiza os itens na vertical */
    align-items: center; /* Centraliza horizontalmente os itens */
    margin: 10px 0; /* Margem para os itens do switch */
    scale: 0.7;
}
.form-check-input {
    background-color: #7F32A6;
    opacity: .5;
}
.form-check-input:checked {
    background-color: #7F32A6;
    opacity: 1;
}


#sala {
    font-size: 20px;
    margin: 10px 0; /* Margem acima e abaixo do input */
    border: none;
    outline: 3px solid #7F32A6;
    width: 60%; /* Largura do input de número */
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    height: 30px; /* Altura do input de número */
    color: #7F32A6;
    font-weight: 900;
    text-align: center;
}
#send {
    display: none;
    display: flex; /* Mantém os itens dentro de send em linha */
    align-items: center; /* Alinha verticalmente os itens no centro */
    justify-content: center; /* Centraliza horizontalmente */
    width: 100%; /* Opcional: faz com que use toda a largura disponível */
}
#sendBtn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color: #7F32A6;
    color: #fff;
    font-size: 10px;
    width: 35px;
    height: 34px;
}
#sendBtn:hover{
    background-color: #53216c;
}

#verFoto {
    height: 100%;
    width: 75%;
    display: none;
    position: fixed; /* Garante que o elemento esteja fixo e independente do fluxo do documento */
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 9999; /* Coloca o elemento acima de tudo */
    background: rgba(0, 0, 0, 0.8); 
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    flex-direction: column;
    justify-content: center;
}


#video {
    margin: 0 auto 5%;
    width: 30%;
    height:70% !important;
    height: auto;
    background: #000;
    border: 2px solid #fff;
    border-radius: 8px;
    border-radius: 100%;
    object-fit: cover;
    border: none;
    outline: 10px solid #7F32A6;
}

#loadingButton{
    background-color: #53216c;
    margin: 0 auto;
    color: #fff;
    width: min-content;
    padding: 0 10px;
    font-size: 150%;
    border-radius: 10px;
    transition: .1s;
}

#captureButton, #tirarFoto{
    display: none;
    background-color: #7F32A6;
    margin: 0 auto;
    color: #fff;
    width: max-content;
    padding: 0 10px;
    font-size: 150%;
    border-radius: 10px;
    transition: .1s;
}



#captureButton:hover, #tirarFoto:hover{
    scale: 1.1;
}

nav{
    display: flex;
    justify-content: space-evenly;
}

.navButCont{
    display: flex;
    flex-direction: column;
}

.navButtons{
    scale: 1.2;
    text-decoration: none;
    color: #7F32A6;
    transition: .1s;
    padding: .5%;
}

.navButtons:hover{
    background-color: #7F32A6;
    border-radius: 5px;
    color: #fff;
}

.navButtons i{
    margin: 0 auto;
}

.navButtons p{
    margin: 0 auto;
    font-size: 35%;
}


.navButtons p{
    opacity: 0;
    transition: .1s;
}

.navButtons:hover p{
    opacity: 1;
    color: #fff;
}

.carousel-inner{
    padding: 15px;
    margin: 1% auto 1%;
    width: min-content !important;
}

.carousel-item img{
    border-radius: 5px;
    outline: solid 5px #7F32A6;
    width: 800px !important;
    height: 430px  !important;
    object-fit: cover;
}