main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 50px;
}

main a {
    text-decoration: none;
}

article {
    padding: 10px;
    color: white;
    background-color: #7F32A6;
    border-radius: 10px;
    text-align: center;
    transition: 0.1s;
}

article p {
    margin: 0;
}

article i {
    font-size: 175px;
}

article:hover {
    scale: 1.05;
    color: #7F32A6;
    background-color: #fff;
    outline: 5px solid #7F32A6;
}

#btn {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    background-color: #fff;
    color: #7F32A6;
    position: fixed;
    margin-left: 1%;
    margin-top: 110px;
    font-size: 50px;
    border: none;
    cursor: pointer;
    transition: width 0.5s, height 0.5s;
    overflow: hidden; /* Evita que a barra branca apareça */
}

#btn #content {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-out, height 0.5s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
}

#btn.active #content {
    opacity: 1;
    margin-top: 40px;
    height: auto;
}

#btn.active {
    border-radius: 10px;
    height: 170px;
    width: 150px;
}

#btn #icon {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: transform 0.5s;
}

#btn.active #icon {
    transform: rotate(720deg);
}
#onOff {
    display: flex; /* Habilita o flexbox */
    flex-direction: column; /* Organiza os itens na vertical */
    align-items: center; /* Centraliza horizontalmente os itens */
    margin: 10px 0; /* Margem para os itens do switch */
    scale: 0.7;
}
.form-check-input {
    background-color: #7F32A6;
    opacity: .5;
}
.form-check-input:checked {
    background-color: #7F32A6;
    opacity: 1;
}


#sala {
    font-size: 20px;
    margin: 10px 0; /* Margem acima e abaixo do input */
    border: none;
    outline: 3px solid #7F32A6;
    width: 60%; /* Largura do input de número */
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    height: 30px; /* Altura do input de número */
    color: #7F32A6;
    font-weight: 900;
    text-align: center;
}
#send {
    display: flex; /* Mantém os itens dentro de send em linha */
    align-items: center; /* Alinha verticalmente os itens no centro */
    justify-content: center; /* Centraliza horizontalmente */
    width: 100%; /* Opcional: faz com que use toda a largura disponível */
}
#sendBtn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color: #7F32A6;
    color: #fff;
    font-size: 10px;
    width: 35px;
    height: 34px;
}
#sendBtn:hover{
    background-color: #53216c;
}

#verFoto {
    height: 100%;
    width: 75%;
    display: none; /* Oculta inicialmente */
    position: fixed; /* Faz com que fique sobreposta */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
    z-index: 9999; /* Garante que fique acima de outros elementos */
    background: rgba(0, 0, 0, 0.8); /* Fundo escuro para destacar */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    flex-direction: column;
    justify-content: center;
}

#video {
    margin: 0 auto 5%;
    width: 30%;
    height:70% !important;
    height: auto;
    background: #000;
    border: 2px solid #fff;
    border-radius: 8px;
    border-radius: 100%;
    object-fit: cover;
    border: none;
    outline: 10px solid #7F32A6;
}

#captureButton{
    background-color: #7F32A6;
    margin: 0 auto;
    color: #fff;
    width: min-content;
    padding: 0 10px;
    font-size: 50%;
    border-radius: 10px;
    transition: .1s;
}

#loadingButton{
    background-color: #53216c;
    margin: 0 auto;
    color: #fff;
    width: min-content;
    padding: 0 10px;
    font-size: 50%;
    border-radius: 10px;
    transition: .1s;
}

#captureButton{
    display: none;
    background-color: #7F32A6;
    margin: 0 auto;
    color: #fff;
    width: min-content;
    padding: 0 10px;
    font-size: 50%;
    border-radius: 10px;
    transition: .1s;
}

#captureButton:hover{
    scale: 1.1;
}

