search {
    display: flex; /* Usando flexbox para alinhar os itens horizontalmente */
    justify-content: center; /* Centraliza os itens */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    margin-bottom: 20px; /* Espaço entre a busca e a seção de alunos */
}

search input {
    color: #7F32A6;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: 900;
    padding-left: 10px;
    border: none;
    outline: 5px solid #7F32A6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 700px;
    height: 40px;
}

search button {
    background-color: #7F32A6;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    height: 47  px;
    width: 47px;
    transition: .1s;
}

search button:active {
    background-color: #53216c;
    color: #c5c5c5;
}
#lupa {
    font-size: 30px;
}

.alunos, .monitores{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.aluno, .monitor{
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    outline: 5px solid #7F32A6;
    border-radius: 5px;
}

.aluno img, .monitor img{
    margin-top: 8px;
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: top;
    border-radius: 50px;
    outline: 3px solid #7F32A6;
}


.info{
    display: flex;
    justify-content: space-around;
    width: 30%;
    
}

.dados{
    text-align: center;
    width: 45%;

}

select{
    border: none;
    font-family: Arial, sans-serif;
    font-weight: 900;
    height: 35px;
    color: #7F32A6;
    background-color: #fff;
    border-radius: 5px;
    width: 85% !important;
}
select option{
    font-size: 50%;
    font-family: Arial, sans-serif;
    font-weight: 900;
    height: 35px;
}

select .default{
    display: none;
}

main{
    text-align: center;
}

.materiaMonitor{
    width: 45% !important;
}

.addBtn, .rmvBtn{
    background-color: #7F32A6;
    border: none;
    color: #fff;
    border-radius: 5px;
    height: 40px;    
    width: 40px;
    transition: .1s;
}

.addBtn:hover, .rmvBtn:hover{
    width: 140px;
}

.addSection, .rmvSection{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.addBtn .btnHover, .rmvBtn .btnHover{
    display: none;
}

.addBtn:hover .btnHover, .rmvBtn:hover .btnHover{
    display: contents;
}

.addBtn:hover .btnDefault, .rmvBtn:hover .btnDefault{
    display: none;
}