main{
    align-items: center;
    display: flex;
}

#dados{
    width: 60%;
}

#dados input{
    width: 80%;
    height: 10%;
    border: none;
    outline: 3px solid #7F32A6;
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#dados section{
    display: flex;
}

#dados input::placeholder{
    
    color: #7F32A6;
    opacity: .5;
    font-size: 70%;
}

#dados p{
    margin: 0;
    margin-right: 5%;
}

#img{
    width: 60%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#img img{
    width: 50%;
    outline: 2px solid #7F32A6;
    border-radius: 10px;
    margin-bottom: 20px;
}

#img input{
    scale: .5;
    border: none;
    background-color: #7F32A6;
    color: #fff;
    border-radius: 10px;
    width: 70%;
}

#sair{
    background-color: #7F32A6;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 80%;

}