body{
    /* background: linear-gradient(45deg, #7F32A6, #7F32A6, #00fff2); */
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #00fff2, #7F32A6, #00fff2    );
    background-size: 400% 400%;
    animation: gradientAnimation 30s ease infinite;

}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    flex-shrink: 0;
}

header{
    align-items: center;
    color: #7F32A6;
    background-color: white;
    display: flex;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: 900;
    padding-left: 1px;
    padding: 5px;
    height: 50px;
}

header a{
    color: #7F32A6;
    text-decoration: none;
    display: flex;
}

header p{
    margin: 0;
    margin-right: 10px;
}
header img{
    outline: 3px solid #7F32A6;
    object-fit: cover;
    object-position: top;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
#logo{
    margin-left: 10px;
    margin-right: auto;
    text-decoration: none;
    color: #7F32A6;
    transition: .1s;
}

#logo:hover{
    translate: 20px;
    background-color: #7F32A6;
    color: #fff !important;
    padding: 0 10px;
    border-radius: 5px;
    scale: 1.1;
}

#perfil{
    transition: .1s;
}

#perfil:hover{
    translate: -20px;
    background-color: #7F32A6;
    color: #fff !important;
    padding: 0 10px;
    border-radius: 5px;
    scale: 1.1;
}

#perfil:hover img{
    outline: #fff solid 3px;
    margin: 6px 0;
    width: 30px;
    height: 30px;
}

main {
    margin: 0;
    background-color: #fff;
    color: #7F32A6;
    border-radius: 10px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: 900;
    padding: 20px;
    box-sizing: border-box;
    margin: 50px 170px;
    min-height: 632px;
}

#toggleButton{
    align-items: center;
    display: flex;
    margin-top: 15px;
}

.toggle{
    display: none;
}

.toggle + label{
    width: 32px;
    height: 20px;
    background: #7F32A6;
    display: block;
    position: relative;
    border-radius: 20px;
    padding: 2px;
    transition: 200ms;
    cursor: pointer;
}

.toggle +label::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    display: block;
    border-radius: 50%;
    right: unset;
    left: 2px;
    top: 2px;
    transition: 200ms;
}

.toggle:checked + label{
    background: #7F32A6;
}

.toggle:checked + label::before{
    content: '';
    left: calc(100% - 22px);
}

/* Para navegadores baseados em WebKit (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remove as setas */
    margin: 0; /* Remove a margem */
}

/* Para Firefox */
input[type="number"] {
    -moz-appearance: textfield; /* Remove as setas */
}