main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 50px;
    gap: 40px;
}

main a{
    text-decoration: none;
}

#repo{
    background-color: #7F32A6;
    color: #fff;
    border-radius: 10px;
}